html {
  height: 100%;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.expression {
  width: 100%;
  height: 100px;
  font-family: sans-serif;
  font-size: 40px;
  text-align: center;
}

.num1,
.num2 {
  border-radius: 20%;
}

.sum-input {
  width: 50px;
  height: 50px;
  font-size: 40px;
  border: none;
  text-align: center;
  display: none;
  border: 1px solid #cecece;
  border-radius: 3px;
}

.axis {

}

.axis-img {
  position: —Å;
  width: 800px;
  height: 100px;
  background-position: bottom;
  background-image: url(sprite.png);
  background-size: 100% 100%;
  flex-shrink: 0;
  background-repeat: no-repeat;
  z-index: 0;
  margin: auto;

}
.arrow-container {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: flex-end;
  z-index: 1;
  padding: 0 54px 0 33px;
  width: 800px;
  margin: -25px auto;
}

.arrow {
  position: relative;
  float: left;
  overflow: hidden;
  display: none;
}

.arrow-input-container {
  text-align: center;
  height: 30px;
}

.arrow-input {
  width: 20px;
  border: 1px solid #cecece;
  border-radius: 3px;
  text-align: center;
}


svg {
  display: block;
}

.arrow-1 {
  width: 5%;
}

.arrow-2 {
  width: 10%;
}

.arrow-3 {
  width: 15%;
}

.arrow-4 {
  width: 20%;
  height: 100%;
}

.arrow-5 {
  width: 25%;
  height: 100%;
}

.arrow-6 {
  width: 30%;
  height: 100%;
}

.arrow-7 {
  width: 35%;
  height: 100%;
}

.arrow-8 {
  width: 40%;
  height: 100%;
}

.arrow-9 {
  width: 45%;
  height: 100%;
}

.clear-both {
  clear: both;
}

.inactive {
  border: none;
  color: black;
}
